<div class = calcKeys>
        <button v-on:click="calculateNum(clear)" class = "importantOperator" id = "clearKey">C</button>
        <div id = "bufferKeys"></div>
        <button v-on:click="calculateNum(7)" class = "numberKeys">7</button>
        <button v-on:click="calculateNum(8)" class = "numberKeys">8</button>
        <button v-on:click="calculateNum(9)" class = "numberKeys">9</button>
        <button v-on:click="calculateNum(add)" class = "operator">+</button>
    
        <button v-on:click="calculateNum(4)" class = "numberKeys">4</button>
        <button v-on:click="calculateNum(5)" class = "numberKeys">5</button>
        <button v-on:click="calculateNum(6)" class = "numberKeys">6</button>
        <button v-on:click="calculateNum(subtract)" class = "operator">-</button>
    
        <button v-on:click="calculateNum(3)" class = "numberKeys">3</button>
        <button v-on:click="calculateNum(2)" class = "numberKeys">2</button>
        <button v-on:click="calculateNum(1)" class = "numberKeys">1</button>
        <button v-on:click="calculateNum(multiply)" class = "operator">x</button>
    
        <button v-on:click="calculateNum(0)" class = "numberKeys">0</button>
        <button v-on:click="calculateNum(decimal)" class = "numberKeys">.</button>
        <button v-on:click="calculateNum(calculate)" class = "importantOperator">=</button>
        <button v-on:click="calculateNum(divide)" class = "operator">÷</button>
    </div>